
obj/staticwebassets.pack.sentinel
obj/staticwebassets.pack.sentinel
obj/Release/net6.0/ZaitsevBankAPI.pdb
obj/Release/net6.0/ZaitsevBankAPI.dll
obj/Release/net6.0/PubTmp/Out/ZaitsevBankAPI.pdb
obj/Release/net6.0/PubTmp/Out/ZaitsevBankAPI.dll
bin/Release/net6.0/ZaitsevBankAPI.pdb
bin/Release/net6.0/ZaitsevBankAPI.dll
.vs/ZaitsevBankAPI/v17/.suo
