@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на ZaitsevBank</h1>
    <p>Свидание окончено, вам эта функция не предложена)</p>
</div>
